<div class="no-print">
  <h1>Wedding badges</h1>
  <p>
    .Based on amazing wedding preparations by
    <a
      href="https://medium.com/nightingale/https-medium-com-data-visualization-society-wedding-data-viz-36e7b9f4787f"
      target="_blank"
    >
      Amy Cesal and Zander Furnas</a
    >, here is small app to enhance your wedding day - data vis badge generator.
  </p>
  <p>Please provide a csv file with collumns according to a picture. It's enough to match them semantically and fix that here :) </p>
  <app-fields-mapper />

  <p>Sample can be found <a [href]="sampleUrl" target="_blank">here</a>.</p>
  <div>
    <button nz-button (click)="loadSample()">Load sample file</button>
  </div>
</div>
