<div class="no-print">
  <app-file-drop></app-file-drop>

  <div class="legend">
    <app-badge
      [explain]="true"
      style="width: 300px; display: block; margin: 1em"
    ></app-badge>
    <app-categories />

    <div class="inputs">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">Badge size (mm)</span>
        <p-inputNumber
          [(ngModel)]="sizeMm"
          (ngModelChange)="makeChange('sizeMm', $event)"
          mode="decimal"
          [minFractionDigits]="1"
          [min]="2.5"
          [max]="210"
        />
      </div>

      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">Badge bleed (mm)</span>
        <p-inputNumber
          [(ngModel)]="marginMm"
          (ngModelChange)="makeChange('marginMm', $event)"
          mode="decimal"
          [minFractionDigits]="1"
          [min]="0"
        />
      </div>

      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">Spacing Size (mm)</span>
        <p-inputNumber
          [(ngModel)]="paddingMm"
          (ngModelChange)="makeChange('paddingMm', $event)"
          mode="decimal"
          [minFractionDigits]="1"
          [min]="0"
        />
      </div>

      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">Font Size (mm)</span>
        <p-inputNumber
          placeholder="fontSizeMm"
          [(ngModel)]="fontSizeMm"
          (ngModelChange)="makeChange('fontSizeMm', $event)"
          mode="decimal"
          [minFractionDigits]="1"
          [min]="7"
          [max]="100"
        />
      </div>

      <app-font-picker />
    </div>
  </div>
</div>
<hr />
<app-data-preview></app-data-preview>
