<div>
  <button nz-button (click)="downloadSVGAsText()" [disabled]="!loaded">
    Download as SVG
  </button>
  <div class="preview">
    <svg:svg
      #svg
      xmlns="http://www.w3.org/2000/svg"
      [attr.viewbox]="viewbox"
      [attr.width]="paperWMm10 * pages"
      [attr.height]="paperHMm10"
    >
      <rect
        *ngFor="let page of [].constructor(pages); let i = index"
        [attr.x]="i * paperWMm10"
        y="0"
        [attr.width]="paperWMm10"
        [attr.height]="paperHMm10"
        stroke="#555"
        fill="none"
      ></rect>
      <g class="badges" name="badges">
        <g
          *ngFor="let person of data; let i = index"
          [attr.transform]="
            'translate(' +
            (person['page'] * paperWMm10 + person['col'] * widthMm10) +
            ', ' +
            person['row'] * widthMm10 +
            ')'
          "
          app-badge
          [person]="person"
          [standalone]="false"
          [print]="true"
        ></g>
      </g>
    </svg:svg>

    <svg:svg
      xmlns="http://www.w3.org/2000/svg"
      [attr.viewbox]="viewbox"
      [attr.width]="paperWMm10 * pages"
      [attr.height]="paperHMm10"
    >
      <rect
        *ngFor="let page of [].constructor(pages); let i = index"
        [attr.x]="i * paperWMm10"
        y="0"
        [attr.width]="paperWMm10"
        [attr.height]="paperHMm10"
        stroke="#555"
        fill="none"
      ></rect>
      <g class="badges" name="badges">
        <g
          *ngFor="let person of data; let i = index"
          [attr.transform]="
            'translate(' +
            (person['page'] * paperWMm10 + person['col'] * widthMm10) +
            ', ' +
            person['row'] * widthMm10 +
            ')'
          "
          app-badge
          [person]="person"
          [standalone]="false"
          [print]="false"
        ></g>
      </g>
    </svg:svg>
  </div>
</div>
