<svg:svg
  *ngIf="standalone; else innerContent"
  xmlns="http://www.w3.org/2000/svg"
  [attr.viewBox]="viewBox"
  [attr.width]="width10 / 10 + 'mm'"
  [attr.height]="width10 / 10 + 'mm'"
>
  <ng-container *ngTemplateOutlet="innerContent"></ng-container>
</svg:svg>

<ng-template #innerContent>
  <svg:circle
    [attr.cx]="width10_2"
    [attr.cy]="width10_2"
    [attr.r]="outherWidthMm10 / 2"
    stroke="gray"
    fill="none"
  />

  <svg:circle
    *ngIf="!print"
    [attr.cx]="width10_2"
    [attr.cy]="width10_2"
    [attr.r]="innerWidthMm10 / 2"
    stroke="red"
    opacity="0.4"
    fill="none"
  />

  <ng-container *ngIf="person">
    <svg:path
      class="lHeart"
      [attr.transform]="
        'translate(' +
        width10_2 +
        ', ' +
        (innerWidthMm10 + margin10 + padding10) +
        ') scale(' +
        lHeartSize * sizeRatio +
        ')'
      "
      [attr.fill]="person | catColor : 'known_from1'"
      d="m -18.492188,-73.34375 c -8.829605,-0.710875 -18.633624,9.092724 -19.648437,17.892578 C -40.71071,-33.164924 -6.1101682,-10.572348 0,0 0,0 11.006745,-19.020545 10.971641,-36.265355 10.936121,-53.714537 -2.7565958,-72.076872 -18.492188,-73.34375 Z"
    />

    <svg:path
      href="#shape"
      class="rHeart"
      [attr.transform]="
        'translate(' +
        width10_2 +
        ', ' +
        (innerWidthMm10 + margin10 + padding10) +
        ')scale(' +
        -rHeartSize * sizeRatio +
        ' ' +
        rHeartSize * sizeRatio +
        ')'
      "
      [attr.fill]="person | catColor : 'known_from2'"
      d="m -18.492188,-73.34375 c -8.829605,-0.710875 -18.633624,9.092724 -19.648437,17.892578 C -40.71071,-33.164924 -6.1101682,-10.572348 0,0 0,0 11.006745,-19.020545 10.971641,-36.265355 10.936121,-53.714537 -2.7565958,-72.076872 -18.492188,-73.34375 Z"
    />

    <svg:text
      [ngStyle]="{ 'font-family': ds.fontFamily | async }"
      [attr.font-size]="fontSizeMm10"
      [attr.y]="padding10 + margin10 + innerWidthMm10 * 0.22"
      [attr.x]="width10_2"
      text-anchor="middle"
    >
      {{ row1 }}
    </svg:text>

    <svg:text
      [attr.font-size]="fontSizeMm10"
      [ngStyle]="{ 'font-family': ds.fontFamily | async }"
      [attr.y]="
        padding10 + margin10 + innerWidthMm10 * 0.22 + fontSizeMm10 * 1.2
      "
      [attr.x]="width10_2"
      text-anchor="middle"
    >
      {{ row2 }}
    </svg:text>

    <svg:text
      [attr.font-size]="fontSizeMm10 * 0.8"
      [ngStyle]="{ 'font-family': ds.fontFamily | async }"
      [attr.y]="
        padding10 + margin10 + innerWidthMm10 * 0.22 + fontSizeMm10 * 2.2
      "
      [attr.x]="width10_2"
      text-anchor="middle"
      opacity=".7"
    >
      {{ row3 }}
    </svg:text>
  </ng-container></ng-template
>
