<svg:svg
  *ngIf="explain; else default"
  xmlns="http://www.w3.org/2000/svg"
  [attr.viewBox]="viewBox"
>
  <g [attr.transform]="'translate(' + explainWidth + ',0)'">
    <ng-container *ngTemplateOutlet="innerContent"></ng-container>
  </g>
  <text x="20" [attr.y]="margin + innerWidth * 0.68">known_from1</text>
  <line
    x1="padding"
    [attr.x2]="explainWidth + margin + innerWidth * 0.35"
    [attr.y1]="margin + innerWidth * 0.7"
    [attr.y2]="margin + innerWidth * 0.7"
    stroke="black"
  />

  <text x="20" [attr.y]="margin + innerWidth * 0.84">known_from2</text>
  <line
    x1="0"
    [attr.x2]="explainWidth + margin + innerWidth * 0.55"
    [attr.y1]="margin + innerWidth * 0.86"
    [attr.y2]="margin + innerWidth * 0.86"
    stroke="black"
  />
</svg:svg>

<ng-template #default>
  <svg:svg
    *ngIf="standalone; else innerContent"
    xmlns="http://www.w3.org/2000/svg"
    [attr.viewBox]="viewBox"
  >
    <ng-container *ngIf="outline; else innerContent">
      <ng-container *ngTemplateOutlet="outlineContent"></ng-container>
    </ng-container>
  </svg:svg>
</ng-template>

<ng-template #outlineContent>
  <svg:circle
    [attr.cx]="width_2"
    [attr.cy]="width_2"
    [attr.r]="outherWidth / 2"
    stroke="gray"
    fill="none"
  />
</ng-template>
<ng-template #innerContent>
  <svg:g [ngStyle]="{ 'font-family': ds.fontFamily | async }">
    <circle
      [attr.cx]="width_2"
      [attr.cy]="width_2"
      [attr.r]="innerWidth / 2"
      stroke="red"
      fill="none"
    />

    <path
      class="lHeart"
      [attr.transform]="
        'translate(' +
        width_2 +
        ', ' +
        (innerWidth + margin + padding) +
        ') scale(' +
        lHeartSize * sizeRatio +
        ')'
      "
      [attr.fill]="
        person
          ? ((ds.catColors | async) ?? {})[person['known_from1']]
          : '#fe3232'
      "
      d="m -18.492188,-73.34375 c -8.829605,-0.710875 -18.633624,9.092724 -19.648437,17.892578 C -40.71071,-33.164924 -6.1101682,-10.572348 0,0 0,0 11.006745,-19.020545 10.971641,-36.265355 10.936121,-53.714537 -2.7565958,-72.076872 -18.492188,-73.34375 Z"
    />

    <path
      href="#shape"
      class="rHeart"
      [attr.transform]="
        'translate(' +
        width_2 +
        ', ' +
        (innerWidth + margin + padding) +
        ')scale(' +
        -rHeartSize * sizeRatio +
        ' ' +
        rHeartSize * sizeRatio +
        ')'
      "
      [attr.fill]="
        person
          ? ((ds.catColors | async) ?? {})[person['known_from2']]
          : '#3232fe'
      "
      d="m -18.492188,-73.34375 c -8.829605,-0.710875 -18.633624,9.092724 -19.648437,17.892578 C -40.71071,-33.164924 -6.1101682,-10.572348 0,0 0,0 11.006745,-19.020545 10.971641,-36.265355 10.936121,-53.714537 -2.7565958,-72.076872 -18.492188,-73.34375 Z"
    />

    <text
      [attr.font-size]="fontSizeMm + 'mm'"
      [attr.y]="margin + innerWidth * 0.28"
      [attr.x]="width_2"
      text-anchor="middle"
    >
      {{ row1 }}
    </text>
    <text
      [attr.font-size]="fontSizeMm + 'mm'"
      [attr.y]="margin + innerWidth * 0.28 + fontSizeMm * 5"
      [attr.x]="width_2"
      text-anchor="middle"
    >
      {{ row2 }}
    </text>
    <text
      [attr.font-size]="fontSizeMm * 0.8 + 'mm'"
      [attr.y]="margin + innerWidth * 0.28 + fontSizeMm * 9"
      [attr.x]="width_2"
      text-anchor="middle"
      opacity=".7"
    >
      {{ row3 }}
    </text>
  </svg:g>
</ng-template>
