
@import "primeng/resources/primeng.css"
@import "./theme.css"

body
    font-family: var(--font-family)

@media print
    .no-print
        display: none

hr
    border-bottom: none
    margin: 2em
    opacity: 0.2
