:host
    position: relative
    display: block
    width: 100%
    height: auto

app-badge
    width: 200px
    height: 200px
    display: inline-block

div
    position: absolute
    top: 0
    left: 0
